<form [formGroup]="form" (ngSubmit)="submit()">
    <h2>Login as administrator</h2>

    <div class="Form-control">
        <label for="type">Type</label>
        <input id="type" type="type" formControlName="type">
        <div *ngIf="form.get('type')?.touched && form.get('type')?.invalid" class = "validation">
            <small *ngIf="form.get('type')?.hasError('required')">Choose product type</small>
        </div>
    </div>
    <div class="Form-control">
        <label for="title">Name</label>
        <input id="title" type="title" formControlName="title">
        <div *ngIf="form.get('title')?.touched && form.get('title')?.invalid" class = "validation">
            <small *ngIf="form.get('title')?.hasError('required')">Enter product name</small>
        </div>
    </div>
    <div class="Form-control">
        <label for="photo">Photo</label>        
    </div>
    <div class="Form-control">
        <label for="info">Information</label>        
    </div>
    <div class="Form-control">
        <label for="price">Price</label>
        <input id="price" type="price" formControlName="price">
        <div *ngIf="form.get('price')?.touched && form.get('price')?.invalid" class = "validation">
            <small *ngIf="form.get('price')?.hasError('required')">Enter product price</small>
        </div>
    </div>

    
    <button type="submit" class="btn btn-dark btn-block" [disabled]="form.invalid || submitted">Logon</button>

</form>

